{% extends 'base.html' %}

{% block title %}{% endblock %}


{% block content %}
<div class="container px-6 mx-auto  pt-32">

	<div class="flex flex-col md:flex-row items-center justify-between mx-auto leading-normal items-stretch">

		
		<div class="w-full md:w-1/5 py-6 px-6 m-3 pl-0 pl-2 rounded text-center teste-publico teste-publico-1 ">
			<a href=" {{ url_for('editais1') }} ">
				<i class="fas fa-file-alt text-white text-xl"></i>
				<h1 class="inline text-bold text-white text-xl ">Editais</h1>
				<p class="mt-2 text-gray-100 ">
					Editais abertos e os já fechados.
				</p>
			</a>
		</div>
		

		<div class="w-full md:w-1/5 py-6 px-6 m-3 pl-0 pl-2 rounded text-center teste-publico teste-publico-2">
			<a href=" {{ url_for('atividades1') }} ">
				<i class="far fa-clipboard text-white text-xl"></i>
				<h1 class="inline text-bold text-white text-xl ">Atividades de Extensão</h1>
				<p class="mt-2 text-gray-100">
					Informações de atividades de extensão atuais e finalizadas.
				</p>
			</a>
		</div>

		<div class="w-full md:w-1/5 py-6 px-6 m-3 pl-0 pl-2 rounded text-center teste-publico teste-publico-3">
			<a href=" {{ url_for('aciepes1') }} ">
				<i class="fas fa-clipboard text-white text-xl"></i>
				<h1 class="inline text-bold text-white text-xl ">ACIEPEs</h1>
				<p class="mt-2 text-gray-100">
					ACIEPEs cadastradas no sistema por semestre.
				</p>
			</a>
		</div>

		<div class="w-full md:w-1/5 py-6 px-6 m-3 pl-0 pl-2 rounded text-center teste-publico teste-publico-5">
			<i class="fas fa-handshake text-white text-xl"></i>
			<h1 class="inline text-bold text-white text-xl ">Reuniões</h1>
			<p class="mt-2 text-gray-100">
				Histórico de reuniões do conselho
			</p>
		</div>

		<div class="w-full md:w-1/5 py-6 px-6 m-3 pl-0 pl-2 rounded text-center teste-publico teste-publico-6">
			<i class="fab fa-black-tie text-white text-xl"></i>
			<h1 class="inline text-bold text-white text-xl ">Conselho</h1>
			<p class="mt-2 text-gray-100">
				Informações e contato aos membros do conselho.
			</p>
		</div>

	</div>
</div>

<div class="container px-6 mx-auto flex flex-wrap flex-col md:flex-row items-center">

	<div class="flex flex-wrap justify-between pt-4 mx-0">

		<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">

			<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
				<a href="http://www.proex.ufscar.br/news/editais-proex-2019-propostas-aprovadas" class="flex flex-wrap no-underline hover:no-underline">
					<img src="https://source.unsplash.com/collection/225/800x600" class="h-64 w-full rounded-t pb-6">
					<div class="w-full text-gray-500 text-xs md:text-sm px-6">EDITAIS PROEX 2019</div>
					<div class="w-full font-bold text-xl text-black px-6">Propostas aprovadas</div>
					<p class="text-grey-darkest font-serif text-base px-6 mb-5">
						A Pró-Reitoria de Extensão da UFSCar torna pública a relação das propostas de atividades de extensão que foram aprovadas no âmbito dos Editais ProEx 2019. 
					</p>
				</a>
			</div>
			<div class="flex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
				<div class="flex items-center justify-between">
					<p></p>
					<p class="text-grey-dark text-xs md:text-sm">02 de julho de 2019</p>
				</div>
			</div>

		</div>

		<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">

			<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
				<a href="#" class="flex flex-wrap no-underline hover:no-underline">
					<img src="https://proexweb.ufscar.br/programa/AnexosProgramas/405.jpg" class="h-64 w-full rounded-t pb-6">
					<p class="w-full text-gray-500 text-xs md:text-sm px-6">PROGRAMA EM DESTAQUE </p>
					<div class="w-full font-bold text-xl text-black px-6">Ações e Reflexões em Educação e Educação Musical</div>
					<p class="text-grey-darkest font-serif text-base px-6 mb-5">
						Este Programa buscará coordenar diversas ações/atividades extensionistas em Educação e Educação Musical na UFSCar 
					</p>
				</a>
			</div>
			<div class="asflex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
				<div class="flex items-center justify-between">
					<p></p>
					<p class="text-grey-dark text-xs md:text-sm">01 de julho de 2019</p>
				</div>
			</div>

		</div>

		<div class="w-full md:w-1/3 p-6 flex flex-col flex-grow flex-shrink">

			<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow-lg">
				<a href="#" class="flex flex-wrap no-underline hover:no-underline">
					<img src="https://source.unsplash.com/collection/3106804/800x600" class="h-64 w-full rounded-t pb-6">
					<p class="w-full text-gray-500 text-xs md:text-sm px-6">EDITAIS PROEX 2019</p>
					<div class="w-full font-bold text-xl text-black px-6">Resultado da Interposição de Recursos para Propostas Não Habilitadas</div>
					<p class="text-grey-darkest font-serif text-base px-6 mb-5">
						A Pró-Reitoria de Extensão da UFSCar torna pública a relação das atividades de extensão que apresentaram interposição de recursos 
					</p>
				</a>
			</div>
			<div class="asflex-none mt-auto bg-white rounded-b rounded-t-none overflow-hidden shadow-lg p-6">
				<div class="flex items-center justify-between">
					<p></p>
					<p class="text-grey-dark text-xs md:text-sm">29 de junho de 2019</p>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="container my-32">

	<h3 class="font-black text-center text-2xl my-12">Dúvidas Frequentes</h3>

	<div class="w-5/6 mx-auto bg-white border rounded p-6">
		<h4>1. O que é extensão universitária?</h4>
		<div class="mt-4 leading-normal">
			São consideradas ações de extensão universitária aquelas voltadas para o objetivo de tornar acessível à sociedade o conhecimento de domínio da UFSCar, seja de sua própria produção, seja pela sistematização do conhecimento universal disponível em um processo acadêmico, interdisciplinar, educativo, cultural, científico-político, que promove a interação transformadora da Universidade e da sociedade
		</div>
	</div>

	<div class="w-5/6 mx-auto bg-white border rounded p-6 my-6">
		<h4>2. O que fazem as coordenadorias?</h4>
		<div class="mt-4 leading-normal">
			As coordenadorias assessoram a Pró-Reitoria na gestão, no acompanhamento e na avaliação das atividades e programas de extensão, bem como no financiamento e na concessão de bolsas de extensão vinculadas aos editais ProEx (de periodicidade semestral ou anual).
		</div>
	</div>

	<div class="text-center">
		<a class="text-orange-500" href="mailto: proex@ufscar.br">Faça uma pergunta à PROEX</a>    
	</div>


</div>
{% endblock %}